{
  "env": {
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react"],
      "plugins": [
        "rewire",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-class-properties"
      ]
    }
  },
  "plugins": ["@babel/plugin-syntax-dynamic-import"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "@babel/preset-react"
  ]
}
