{
  "env": {
    "production": {
      "plugins": ["external-helpers", "transform-object-rest-spread", "transform-react-jsx"],
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions"]
            },
            "modules": false,
            "useBuiltIns": true
          }
        ]
      ]
    },
    "development": {
      "plugins": ["external-helpers", "transform-object-rest-spread", "transform-react-jsx"],
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions"]
            },
            "modules": false,
            "useBuiltIns": true
          }
        ]
      ]
    },
    "test": {
      "plugins": ["rewire", "transform-object-rest-spread", "transform-react-jsx", "transform-es2015-modules-commonjs"]
    }
  }
}
