version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.9

    working_directory: ~/react-pixi-fiber

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - npm-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - npm-dependencies-

      - run: yarn install --frozen-lockfile

      # Cache dependencies
      - save_cache:
          paths:
            - node_modules
          key: npm-dependencies-{{ checksum "package.json" }}

      # run build
      - run: yarn build

      # run tests
      - run: yarn test --coverage --ci --silent
      - run: yarn test:ts

      # upload coverage report
      - run: yarn codecov
